{% extends 'base.html' %}

{% block title %}Home page{% endblock %}

{% block content %}
<div class="container">
    <h1>Welcome to Finance Manager</h1>
    <p>This is an application for controlling and monitoring your financial resources.</p>
    <p>It was created on the Django Framework - backend framework for building the web application,</p>
    <p>Python - programming language used for backend development, HTML/CSS/JavaScript -frontend technologies for user interface and interactivity.</p>
    <p>The application has three separate sections from where finances are managed and controlled.</p>
    <p>Revenue in the application is mandatory in the "Income" category to simulate income from salary, rent, etc.</p>
    <p>There is a form for posts and comments from users and administrators of the application.</p>
    <p>There is also a contact form for contacting the administrators of the application.</p>

</div>
{% endblock %}
